*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 90%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 5vh;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 600;
}

button.dropdown-btn {
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 15%);
  background: hsl(192, 80%, 70%);
  padding: 0.6rem;
  width: 15vw;
  font-size: 1.2rem;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-container {
  width: 15vw;
  overflow: hidden;
}

.dropdown-container ul {
  transition: 0.25s transform;
  transform: translateY(-100%);
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 15%);
}

.dropdown-container ul > li {
  width: 100%;
  padding: 0.6rem;
  padding-left: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.25s all;
}

button.dropdown-btn:hover + .dropdown-container > ul,
.dropdown-container ul:hover {
  transform: translateY(0%);
}

.dropdown-container ul > li:hover {
  padding-left: 2rem;
  background: hsl(192, 80%, 70%);
}

.selected {
  padding-left: 2rem !important;
  background: hsl(192, 80%, 70%);
}
